{
    "input1": "<input name='CustomApi.Api.Post.updatePassword' data-preset-val='https://automat-us.erply.com/api/automation/{clientCode}/kodulugu-set-password-automation'>",
    "input2": "<input name='CustomApi.Api.Path.updatePassword.<-clientCode' data-preset-val='Session.clientCode'>",
    "input3": "<input name='CustomApi.Api.Json.updatePassword.string.<-id' data-preset-val='Parameters.id'>",
    "input4": "<input name='CustomApi.Api.Json.updatePassword.string.<-password' data-preset-val='Parameters.password'>",
    "input5": "<input name='CustomApi.Api.Header.updatePassword.trigger-key' data-preset-val='658ea02d43b2fccfc3ec24fefb67863d7a798630'>",
    "response": {{ .Data.CustomApi.Api.Requests.updatePassword.Response }}
}