.payment-cart-container {
    width: 100%;
    margin-top: 1rem;
}

.payment-cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

.payment-cart-item:hover {
    background-color: #f9f9f9;
}

.payment-cart-item-left {
    flex-shrink: 0;
}

.payment-cart-image {
    padding: 5px;
    width: 140px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
}

.payment-cart-item-right {
    flex: 1;
}

.payment-cart-item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.payment-cart-item-price {
    font-size: 14px;
    color: #B12704;
    margin-bottom: 8px;
}

.payment-cart-item-ammount-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}

.amount-btn {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.decrement-btn, .increment-btn {
    background-color: #28a745;
    border: 1px solid #28a745;
}

.decrement-btn:hover, .increment-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.js__payment-cart-item-ammount {
    font-size: 16px;
    font-weight: bold;
}

.delete-btn {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.delete-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.nothing-decrement-btn {
  background-color: #585858;
  border: 1px solid black;
  color: white;
}

.nothing-decrement-btn:hover {
  background-color: #757575;
}

.payment-cart-item-link {
    text-decoration: none;
}



.payment-cart-information {
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
}









.payment-form {
    margin-top: 30px;
	width: 100%;
}

.form-group {
    margin: 20px 0;
}

.form-group input {
    width: 17.5rem;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
	margin-left: 2px;
}

.form-group p {
    font-size: 1.2em;
    font-weight: bold;
}

.product-submit-button {
    background-color: #007bff;
    border: 2px solid #396da1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.product-submit-button:hover {
    background-color: #0056b3;
}




@media (max-width: 768px) {
    .payment-cart-item-ammount-container {
        gap: 16px;
    }
}